@import "../../node_modules/compass-mixins/lib/_compass";

/* Colors ===========================*/

$lightGrey: #EEEEEE;
$grey: #DDDDDD;
$rippleColor: $lightGrey;

/* Fonts ===========================*/

$fonts:'Roboto',
"Droid Sans",
"Helvetica Neue",
Arial,
Helvetica,
sans-serif;

/* Site ===========================*/

body {
    font-family: $fonts;
    color: #616161;
}

/* Positions ===========================*/

.pos-relative{
  position: relative;
}

.pos-absolute{
  position: absolute;
}

/* Helpers ===========================*/

.p {
    padding: 8px;
}

.p16{
  padding: 16px;
}

.m {
    margin: 8px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.flex{
  display: flex;
}

.shadow {
    @include box-shadow(0 0 2px $grey);
}

.full-width{
  width: 100%;
}

.overflow-hidden{
  overflow: hidden;
}

.circle{
  border-radius: 50%;
}

.border {
    border: 1px solid $lightGrey;
}

.round-border {
    border-radius: 2px;
}

.transZ {
    @include transform(translateZ(0));
}

.text-center{
  text-align: center;
}
