$fonts:"Roboto","Helvetica","Arial",sans-serif;
// reset
h4{
	margin:0px;
}
body{
	font-family: $fonts;
	color:#616161;
}
.hr{
	background-color:#EEEEEE;
	height: 1px;
}

.block{
	display: block;
}

.inline-block{
	display: inline-block;
}

button{
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: $fonts;
  /* font-size: 14px; */
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow,transform;
  -webkit-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
	background: rgba(158,158,158,.2);
}
