rp-fab {
    .button {
        @extend .pos-relative;
        @extend .circle;
        @extend .overflow-hidden;    
        @extend .inline-block;
        border:0px;
        outline: none;
        font-size: 20px;
        height: 56px;
        margin: auto;
        min-width: 56px;
        width: 56px;
        box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
        z-index: 1;
    }
}